.nav {
   max-width: 1686px;
   margin: auto;
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;

   .logo {
      flex: 0 0 136px;

      .logo img{
         max-width: 100%;
      }

      @media(max-width:999px){
         width: 100px;
      }

   }

   .search {
      padding-right: 11px;
   }

   

   ul {
      display: flex;
      max-width: 860px;
      justify-content: space-between;
      align-items: center;

      li {
         list-style: none;
         color: white;
         cursor: pointer;
         padding-right: 20px;

         a {
            color: white;
            list-style: none;
            text-decoration: none;
         }

         li,
         a:hover {
            border-bottom: 1px solid #B00F0A;
         }

      }
   }
   

   .menu-info {
      display: flex;
      max-width: 323px;
      justify-content: space-between;


      .language {
         display: flex;
         color: white;
         width: 85px;
         height: 36px;
         justify-content: space-between;

         .ro,
         .ru {
            line-height: 15px;

            p {
               margin: 0;
               padding: 0 0 10px 0;

            }

            img {
               width: 5px;
               margin: 0 15px;
            }


         }
      }

      .call {
         height: 36px;
         max-width: 183px;
         margin: 0 auto;
         font-family: "Montserrat";
         text-align: center;
         padding: 0;

         a {
            margin: 0 auto;
            text-decoration: none;
            border: none;
            color: #B00F0A;
            margin-top: 150px;
            width: 175px;
            font-size: 19px;
            font-weight: 700;

            @media (max-width: 999px) {
               display: none;
               

            }

         }

         hr {
            @media (max-width:999px) {
               display: none;
            }
         }

         .call-mob {
            display: none;

            img {
               width: 30px;
               height: 30px;
            }

            @media (max-width: 999px) {
               display: block;
               margin: 0 auto;
               width: 70px;
            }
         }

      }
   }

   @media (max-width: 810px){
      display: none !important; 
   }
     
}

.navbar {
   display: none !important;
   
   
   .navbar-brand {
      margin: 0 !important;
      padding: o !important;
   }
      .container-nav {
         display: flex !important;
         justify-content: space-between !important;
         width: 100% !important;

      img {
         width: 50px !important;
         text-align: left !important;
         margin: auto !important;
      }
   
         }

   

   @media (max-width:810px) {
      display: block !important;
   }
}

